{{ $ssh_auth_sock := promptStringOnce . "ssh_auth_sock" "Enter SSH_AUTH_SOCK value" -}}
{{ $ssh_signing_key := promptStringOnce . "ssh_signing_key" "Enter SSH signing key (ssh-ed25519 ...)" -}}
{{ $email := promptStringOnce . "email" "Enter email for gitconfig" -}}

[data]
ssh_auth_sock = {{ $ssh_auth_sock | quote }}
ssh_signing_key = {{ $ssh_signing_key | quote }}
email = {{ $email | quote }}
