[submodule "asdf/.config/asdf"]
    path = asdf/.config/asdf
    url = git@github.com:asdf-vm/asdf.git
[submodule "nvim/.config/nvim"]
    path = nvim/.config/nvim
    url = git@github.com:essn/lvim.git
