theme = "onedark"

[editor]
line-number = "relative"
cursorline = true
true-color = true
undercurl = true
color-modes = true
auto-format = true

[editor.statusline]
right = [
  "diagnostics",
  "selections",
  "register",
  "position",
  "total-line-numbers",
  "file-encoding",
]

[editor.lsp]
display-inlay-hints = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.whitespace.render]
space = "all"
tab = "all"
nbsp = "all"
nnbsp = "all"
newline = "none"

[editor.indent-guides]
render = true
